@CHARSET "UTF-8";

body{
	margin: 0px;
	padding: 0px;
	
}

#list_box1{
	width: 100%;
	height: 54px;
	display: block;
	background-color: white;
	border-bottom: 1px solid #0054a8;
}

#list_box1_sub1{
	text-align: left;
	font-size: 18pt;
	font-weight: bold;
	color: #0054a8;
	margin: 10px 0px 0px 2%;
	display: inline-block;
	float: left;
}

#list_box1_sub2{
	font-size: 10pt;
	color: #525c6d;
	float: right;
	display: inline-block;
	margin: 30px 1% 0px 0px;
}

#list_box2{
	width: 98%;
	height: 345px;
	text-align: left;
	color: #404040;
	font-size: 12pt;
	display: block;
	padding-top: 10px;
	padding-left: 2%;
}

#list_box2_sub0{
	width: 98%;
	height: 36px;
	padding-left: 2px;
	background-color: #525c6d;
	color: white;
	font-size: 11pt;
}

#list_box2_sub1{
	width: 98%;
	height: 246px;
	background-color: white;
	border: 1px solid #525c6d;
	overflow-y: scroll;
	margin-top: -2px;
}

#list_box2_sub2{
	width: 98%;
	height: 40px;
	background-color: white;
	margin-top: 8px;
	text-align: center;
}

#list_box2_sub2_1{
	display: inline-block;
	margin-left: 30px;
}

#list_box2_sub2_2{
	display: inline-block;
	float: right;
	position: fixed;
	margin-left: 19%;
}

#list_table1{
	width: 97%;
	text-align: center;
}

#list_table2{
	width: 100%;
	text-align: center;
	background-color: white;
}

td {
	height: 32px;
}

#list_input1{
	height: 22px;
	/* font-size: 10pt; */
}

#list_button1{
	height: 28px;
	width: 46px;
	font-size: 10pt;
	background-color: #b8c7d3;
	border-style: solid;
	border-color: #b8c7d3;
	border-bottom-width: 4px;
}

#list_button2{
	height: 28px;
	width: 70px;
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
	color: #ffffff;
	background-color: #0054a8;
	border-style: solid;
	border-color: #0054a8;
	border-bottom-width: 4px;
	border-radius: 6px;
}